<div class="home">
  <div fxLayout="column" class="main-content">
    <div fxFlex="50%" class="gradient-background"></div>
    <div fxFlex="50%" class="home-background"></div>
  </div>

  <div class="angular-logo">
    <img [src]="logoUrl" alt="Angular Logo" />
  </div>

  <div
    class="central-card"
    fxLayout="column"
    fxLayoutAlign="space-around center"
  >
    <div class="questions-number">5 questions</div>
    <div class="title">Mon test technique</div>
    <button class="btn" (click)="onStartQuiz()">Démarrer</button>
  </div>

  <div
    class="best-score-card"
    fxLayout="column"
    fxLayoutAlign="flex-start center"
    fxLayoutGap="12"
  >
    <div class="score-logo">🏆</div>
    <div class="score-title">Meilleur score</div>
    <div class="score">09/10</div>
  </div>
</div>
