<div class="home">
  <div fxLayout="column" class="main-content">
    <div fxFlex="50%" class="gradient-background"></div>
    <div fxFlex="50%" class="home-background"></div>
  </div>

  <div class="angular-logo">
    <img [src]="logoUrl" alt="Angular Logo" />
  </div>

  <div
    class="central-card"
    fxLayout="column"
    fxLayoutAlign="space-around center"
  >
    <div class="questions-number" *ngIf="!isLoading">
      {{ numberOfQuestions }} questions
    </div>
    <div class="title">Mon Quiz</div>
    <button class="btn" (click)="onLaunchQuiz()">Démarrer</button>
  </div>

  <div class="spinner-container" fxLayoutAlign="center" *ngIf="isLoading">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <div
    class="best-score-card"
    fxLayout="column"
    fxLayoutAlign="flex-start center"
    fxLayoutGap="12"
  >
    <div class="score-logo">🏆</div>
    <div class="score-title">Meilleur score</div>
    <div class="score" *ngIf="!!numberOfQuestions">
      {{ relativeBestScore }}/{{ numberOfQuestions }}
    </div>
  </div>
</div>
