<div class="question">
  <form
    class="question-form"
    fxLayout="column"
    fxLayoutAlign="space-around flex-start"
  >
    <div class="question-label">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. ?
    </div>
    <div class="question-inputs">
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ?</div>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ?</div>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ?</div>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ?</div>
    </div>
    <div class="validation-button"><button class="btn">Valider</button></div>
  </form>
</div>
