<div class="question">
  <form
    *ngIf="!!questionForm"
    [formGroup]="questionForm"
    (ngSubmit)="onSubmit()"
    class="question-form"
    fxLayout="column"
    fxLayoutAlign="space-around flex-start"
  >
    <div class="question-label">
      {{ question?.label }}
    </div>
    <div
      [ngClass]="{
        'question-options': question?.answerType !== 'text',
        'question-text-input': question?.answerType === 'text'
      }"
    >
      <mat-radio-group
        labelPosition="before"
        formControlName="answer"
        *ngIf="question?.answerType === 'choice'"
      >
        <mat-radio-button
          *ngFor="let choice of question?.choices"
          [value]="choice"
          >{{ choice }}</mat-radio-button
        >
      </mat-radio-group>
      <div
        class="checkbox-group"
        *ngIf="question?.answerType === 'multiple-choice'"
      >
        <mat-checkbox
          labelPosition="before"
          *ngFor="let choice of question?.choices"
          (change)="onToggleChoice(choice)"
          >{{ choice }}</mat-checkbox
        >
      </div>
      <mat-form-field
        *ngIf="question?.answerType === 'text'"
        appearance="outline"
      >
        <mat-label>Votre réponse</mat-label>
        <input matInput formControlName="answer" />
      </mat-form-field>
    </div>
    <div class="validation-button">
      <button class="btn" [disabled]="questionForm.invalid">Valider</button>
    </div>
  </form>
</div>
